In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file1 = './data/2017/nov17pub.dat'
file2 = './data/2019/nov19pub.csv'
file3 = './data/2021/nov21pub.csv'

### processing the dat file for 2017 and data loading

In [3]:
with open(file1) as f:
    lines = f.readlines()
    
# remove the newline at the end
lines = [line.strip('\n') for line in lines]
len(lines)

147801

In [254]:
lines[0]

'610905110108708112017 120100 1 1 1-1 112-1-1-1  18984270 1 1 7 3 2 0 207011 1  2-1-1-1-1 36 01 338600002103000        2-1530 4-1 2 2   244 1-1 9   1   0 0 2 2 5 2 57 57 57 1 0 0 1 1 1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 2-148-1-1 48-1-1-1-1 2-1 2-148-1 48-1      2 5 5-1 2 3 5 2-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 1-120 1 1 1 5-1-1-1 -1  -1 1 2-1-1-1-1 1 2 1 3 4      -1-1       4 3 3 1 2 3-1 2 9-140-1 8-1 110-1 2-1 1-1 1 1 0-1-1-1-1  -1  -1  -1  -10-1      -10          -1      -10  -1-1-1-1-1-1-1-1 2-1-1 2  18984270  27025172         0  18984270  18756430 0 0 1-1-1 0 0 0 1 0-1 050 0 0 1 0 1 0 0 0-1-1-1 1 0 0-1 1 1 0 1 0 1 1 0 1 1 1 0 1 0 1 1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 0 0 0-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 0 1 1    1 1-1-1-1       1 1 1        1874439778602310  -1  -115-1-1-1-1-1 0-1-1-1-1-15050 1 1 1 2 2 1 2 2 2 1 0 0 0 0 0 0 0-1-1-1-1-1 1 1 1202020                                              2 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 1 1 2 2-1-1 1 1-1 1 1 2 2 2 1 1 1 1 1 1 1 2 2 2 2 2 1 1 1 1 1 2 1 1 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 1-1-1-1-1-1-1-1-1-1-1-1-1-120  37203516'

In [ ]:
lines[0][idx1:idx2]

In [4]:
# layout file for 2017 --- hopefully it works
layout = '/Users/swagatam/Downloads/January_2017_Record_Layout.txt'
lo = open(layout, 'r', encoding='iso-8859-1').read()

# Regular expression finds rows with variable location details
import re
p = re.compile('\n(\w+)\s+(\d+)\s+(.*?)\t+.*?(\d\d*).*?(\d\d+)')

# Keep adjusted results for series of interest
dd_sel_var = [(i[0], int(i[3])-1, int(i[4])) 
              for i in p.findall(lo)]

len(dd_sel_var)

410

In [6]:
# this list contains the attributes and their indices
dd_sel_var[0:5]

[('HRHHID', 0, 15),
 ('HRMONTH', 15, 17),
 ('HRYEAR4', 17, 21),
 ('HURESPLI', 21, 23),
 ('HUFINAL', 23, 26)]

In [ ]:
# Convert raw data into a list of tuples
data = [tuple(line[i[1]:i[2]] for i in dd_sel_var)
        for line in lines]

In [27]:
# Convert to pandas dataframe, add variable ids as heading
df1 = pd.DataFrame(data, columns=[v[0] for v in dd_sel_var])

# directly load the other files as dataframes
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)


df1 = df1.drop(['FILLER'], axis=1)  # FILLER had all NaN values
df2 = df2.drop(['FILLER'], axis=1)
df3 = df3.drop(['FILLER'], axis=1)

In [28]:
df1.shape, df2.shape, df3.shape

((147801, 396), (138850, 507), (127375, 567))

In [246]:
df1

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,HEPHONEO,...,PEPDEMP1,PTNMEMP1,PEPDEMP2,PTNMEMP2,PECERT1,PECERT2,PECERT3,PXCERT1,PXCERT2,PXCERT3
0,610905110108708,11,2017,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,1,1,1,20,20,20
1,005860719066108,11,2017,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,2,-1,-1,20,0,0
2,128450301231000,11,2017,-1,226,-1,1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,021215004300318,11,2017,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,1,1,1,20,20,20
4,201348501120003,11,2017,-1,226,-1,1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147796,210005535375846,11,2017,1,216,2,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
147797,046046381504411,11,2017,1,216,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
147798,022016589504431,11,2017,1,201,2,1,1,-1,1,...,-1,-1,-1,-1,2,-1,-1,0,0,0
147799,022016589504431,11,2017,1,201,2,1,1,-1,1,...,-1,-1,-1,-1,2,-1,-1,0,0,0
147800,965683190609009,11,2017,1,216,1,5,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [249]:
df1['HEDESKTOP']

KeyError: 'HEDESKTOP'

## problem 1 --- parse pdf file to have all attributes

In [247]:
df2

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HULANGCODE,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HENOTV5,HENOTV6,HENOTV7,HENOTV8,HENOTV9,HENOTV10,HENOTV11,HENOTV12,PUELGFLG,PWPRMWGT
0,110157414767,11,2019,1,201,0,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,20,37035916
1,4005751110574,11,2019,1,201,0,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,20,27294606
2,110824593052,11,2019,-1,226,0,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
3,147240092351000,11,2019,-1,226,0,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
4,901002967110858,11,2019,1,201,0,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,20,37130922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138845,10005815764346,11,2019,-1,218,0,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
138846,50610634581470,11,2019,-1,218,0,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
138847,965683190700009,11,2019,-1,218,0,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
138848,75016847506821,11,2019,1,218,0,2,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
138849,211868005750476,11,2019,-1,218,0,2,1,2,2,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0

In [248]:
df3

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,HEPHONEO,...,PXEDTRAI,PXEGOVTS,PXUSESVC,PXESRVCS,PXECOMME,PXEGOODS,PXFINANC,PXVOICEA,PXHOMIOT,PWPRMWGT
0,610905110108708,11,2021,1,201,1,1,1,-1,1,...,0,0,0,0,0,0,0,0,0,99445490
1,610905110108708,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
2,610905110108708,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
3,610905110108708,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
4,610905110108708,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127370,156485901801505,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
127371,110076626504721,11,2021,-1,259,-1,1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
127372,167066394505701,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
127373,167066394505701,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0
127374,167066394505701,11,2021,1,201,1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,0

## feature lists

In [182]:
f1 = df1.columns.to_list()
f2 = df2.columns.to_list()
f3 = df3.columns.to_list()


# set f1 = f2 for now, ignore 2017 file
f1 = f2

In [183]:
all_features = list(set(f1 + f2 + f3))
common_features = list(set(f1).intersection(set(f2).intersection(set(f3))))
len(common_features), len(all_features)

(467, 607)

In [184]:
remove_features = [f for f in all_features if f not in common_features]
len(remove_features)

140

In [185]:
common_features.sort()

## drop features that are not present in all 3 dataframes and keep only common features

In [186]:
# df17 = df1[common_features]
df19 = df2[common_features]
df21 = df3[common_features]

In [187]:
# df17

In [188]:
df19

,GEDIV,GEREG,GTCBSAST,GTCBSASZ,GTINDVPC,GTMETSTA,HEDESKTP,HEEVRHOM,HEFAMINC,HEHMINT1,...,PXPDEMP2,PXRACE1,PXRET1,PXRRP,PXSCHENR,PXSCHFT,PXSCHLVL,PXSEX,PXSPOUSE,QSTNUM
0,6,3,2,3,0,1,1,-1,12,1,...,-1,0,-1,0,-1,-1,-1,0,1,1
1,6,3,2,3,0,1,2,-1,9,1,...,-1,0,-1,0,-1,-1,-1,0,1,2
2,6,3,4,2,0,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,3
3,6,3,4,2,0,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,4
4,6,3,4,2,0,1,2,-1,14,1,...,-1,0,-1,0,0,1,1,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138845,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,70277
138846,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,70278
138847,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,70279
138848,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,70280
138849,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,70281

In [189]:
df21

,GEDIV,GEREG,GTCBSAST,GTCBSASZ,GTINDVPC,GTMETSTA,HEDESKTP,HEEVRHOM,HEFAMINC,HEHMINT1,...,PXPDEMP2,PXRACE1,PXRET1,PXRRP,PXSCHENR,PXSCHFT,PXSCHLVL,PXSEX,PXSPOUSE,QSTNUM
0,6,3,2,3,0,1,2,-1,10,1,...,0,0,1,0,0,1,1,0,1,1
1,6,3,2,3,0,1,2,-1,10,1,...,-1,0,-1,0,0,1,1,0,1,1
2,6,3,2,3,0,1,2,-1,10,1,...,-1,0,-1,0,-1,-1,-1,0,0,1
3,6,3,2,3,0,1,2,-1,10,1,...,-1,0,-1,0,-1,-1,-1,0,0,1
4,6,3,2,3,0,1,-1,-1,10,-1,...,-1,0,-1,0,-1,-1,-1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127370,8,4,3,0,0,2,2,-1,6,1,...,-1,0,-1,0,-1,-1,-1,0,0,68262
127371,8,4,3,0,0,2,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,68263
127372,8,4,3,0,0,2,2,2,12,-1,...,-1,0,-1,0,-1,-1,-1,0,0,68264
127373,8,4,3,0,0,2,2,2,12,-1,...,-1,0,-1,0,-1,-1,-1,0,0,68264
127374,8,4,3,0,0,2,2,2,12,-1,...,0,0,1,0,0,1,1,0,1,68264

In [190]:
common_features

['GEDIV',
 'GEREG',
 'GTCBSAST',
 'GTCBSASZ',
 'GTINDVPC',
 'GTMETSTA',
 'HEDESKTP',
 'HEEVRHOM',
 'HEFAMINC',
 'HEHMINT1',
 'HEHMINT2',
 'HEHOMTE1',
 'HEHOMTE2',
 'HEHOMTE3',
 'HEHOMTE4',
 'HEHOUSUT',
 'HEINCAFE',
 'HEINELHO',
 'HEINHOME',
 'HEINLICO',
 'HEINOTHR',
 'HEINSCHL',
 'HEINTRAV',
 'HEINWORK',
 'HELAPTOP',
 'HEMEDDOC',
 'HEMEDINF',
 'HEMEDMON',
 'HEMEDREC',
 'HEMOBDAT',
 'HEMPHONE',
 'HENETCHK',
 'HENOHM1',
 'HENOHM10',
 'HENOHM2',
 'HENOHM3',
 'HENOHM4',
 'HENOHM5',
 'HENOHM6',
 'HENOHM7',
 'HENOHM8',
 'HENOHM9',
 'HENOTV1',
 'HENOTV10',
 'HENOTV11',
 'HENOTV12',
 'HENOTV2',
 'HENOTV3',
 'HENOTV4',
 'HENOTV5',
 'HENOTV6',
 'HENOTV7',
 'HENOTV8',
 'HENOTV9',
 'HEPHONEO',
 'HEPREVTV',
 'HEPRINOH',
 'HEPSCON1',
 'HEPSCON2',
 'HEPSCON3',
 'HEPSCON4',
 'HEPSCON5',
 'HEPSCON6',
 'HEPSCON8',
 'HEPSCYBA',
 'HEPSPRE1',
 'HEPSPRE2',
 'HEPSPRE3',
 'HEPSPRE4',
 'HEPSPRE5',
 'HETABLET',
 'HETELAVL',
 'HETELHHD',
 'HETENURE',
 'HETRADTV',
 'HETVBOX',
 'HEWEARAB',
 'HRHHID',
 'HRHHID2',
 'HRHTYPE',
 'HRINTSTA',
 'HRLONGLK',
 'HRMIS',
 'HRMONTH',
 'HRNUMHOU',
 'HRYEAR4',
 'HUBUS',
 'HUBUSL1',
 'HUBUSL2',
 'HUBUSL3',
 'HUBUSL4',
 'HUFINAL',
 'HUINTTYP',
 'HUPRSCNT',
 'HURESPLI',
 'HUTYPB',
 'HUTYPC',
 'HUTYPEA',
 'HWHHWGT',
 'HWHHWTLN',
 'HXFAMINC',
 'HXHOUSUT',
 'HXPHONEO',
 'HXTELAVL',
 'HXTELHHD',
 'HXTENURE',
 'OCCURNUM',
 'PEABSPDO',
 'PEABSRSN',
 'PEAFEVER',
 'PEAFNOW',
 'PEAFWHN1',
 'PEAFWHN2',
 'PEAFWHN3',
 'PEAFWHN4',
 'PEAUDIO',
 'PECERT1',
 'PECERT2',
 'PECERT3',
 'PECOHAB',
 'PECONFER',
 'PECYC',
 'PEDESKTP',
 'PEDIPGED',
 'PEDISDRS',
 'PEDISEAR',
 'PEDISEYE',
 'PEDISOUT',
 'PEDISPHY',
 'PEDISREM',
 'PEDW4WK',
 'PEDWAVL',
 'PEDWAVR',
 'PEDWLKO',
 'PEDWLKWK',
 'PEDWRSN',
 'PEDWWK',
 'PEDWWNTO',
 'PEECOMME',
 'PEEDTRAI',
 'PEEDUCA',
 'PEEGOODS',
 'PEEMAIL',
 'PEERNCOV',
 'PEERNHRO',
 'PEERNHRY',
 'PEERNLAB',
 'PEERNPER',
 'PEERNRT',
 'PEERNUOT',
 'PEERNWKP',
 'PEESRVCS',
 'PEFINANC',
 'PEFNTVTY',
 'PEHGCOMP',
 'PEHOMIOT',
 'PEHRACT1',
 'PEHRACT2',
 'PEHRACTT',
 'PEHRAVL',
 'PEHRFTPT',
 'PEHRRSN1',
 'PEHRRSN2',
 'PEHRRSN3',
 'PEHRUSL1',
 'PEHRUSL2',
 'PEHRUSLT',
 'PEHRWANT',
 'PEHSPNON',
 'PEINCAFE',
 'PEINELHO',
 'PEINHOME',
 'PEINLICO',
 'PEINOTHR',
 'PEINSCHL',
 'PEINTRAV',
 'PEINWORK',
 'PEIO1COW',
 'PEIO1ICD',
 'PEIO2COW',
 'PEIO2ICD',
 'PEJHRSN',
 'PEJHWANT',
 'PEJHWKO',
 'PEJOBSCH',
 'PELAPTOP',
 'PELAYAVL',
 'PELAYDUR',
 'PELAYFTO',
 'PELAYLK',
 'PELKAVL',
 'PELKDUR',
 'PELKFTO',
 'PELKLL1O',
 'PELKLL2O',
 'PELKLWO',
 'PELKM1',
 'PEMARITL',
 'PEMJNUM',
 'PEMJOT',
 'PEMLR',
 'PEMNTVTY',
 'PEMPHONE',
 'PENATVTY',
 'PENETCK2',
 'PENLFACT',
 'PENLFJH',
 'PENLFRET',
 'PEPDEMP1',
 'PEPDEMP2',
 'PEPUBLISH',
 'PERET1',
 'PERRP',
 'PESCHENR',
 'PESCHFT',
 'PESCHLVL',
 'PESEX',
 'PESOCIAL',
 'PESPOUSE',
 'PETABLET',
 'PETELEWK',
 'PETEXTIM',
 'PETVBOX',
 'PEUSESVC',
 'PEVIDEO',
 'PEWEARAB',
 'PRABSREA',
 'PRAGNA',
 'PRCHLD',
 'PRCITFLG',
 'PRCITSHP',
 'PRCIVLF',
 'PRCOW1',
 'PRCOW2',
 'PRCOWPG',
 'PRDASIAN',
 'PRDISC',
 'PRDISFLG',
 'PRDTCOW1',
 'PRDTCOW2',
 'PRDTHSP',
 'PRDTIND1',
 'PRDTIND2',
 'PRDTOCC1',
 'PRDTOCC2',
 'PREMP',
 'PREMPHRS',
 'PREMPNOT',
 'PRERELG',
 'PREXPLF',
 'PRFAMNUM',
 'PRFAMREL',
 'PRFAMTYP',
 'PRFTLF',
 'PRHERNAL',
 'PRHRUSL',
 'PRIMIND1',
 'PRIMIND2',
 'PRINUYER',
 'PRIOELG',
 'PRJOBSEA',
 'PRMARSTA',
 'PRMJIND1',
 'PRMJIND2',
 'PRMJOCC1',
 'PRMJOCC2',
 'PRMJOCGR',
 'PRNAGPWS',
 'PRNAGWS',
 'PRNLFSCH',
 'PRNMCHLD',
 'PRPERTYP',
 'PRPTHRS',
 'PRPTREA',
 'PRSJMJ',
 'PRTAGE',
 'PRTFAGE',
 'PRUNEDUR',
 'PRUNTYPE',
 'PRWERNAL',
 'PRWKSCH',
 'PRWKSTAT',
 'PRWNTJOB',
 'PTDTRACE',
 'PTHR',
 'PTNMEMP1',
 'PTNMEMP2',
 'PTOT',
 'PTWK',
 'PUABSOT',
 'PUBUS1',
 'PUBUS2OT',
 'PUBUSCK1',
 'PUBUSCK2',
 'PUBUSCK3',
 'PUBUSCK4',
 'PUCHINHH',
 'PUDIS',
 'PUDIS1',
 'PUDIS2',
 'PUDWCK1',
 'PUDWCK2',
 'PUDWCK3',
 'PUDWCK4',
 'PUDWCK5',
 'PUELGFLG',
 'PUHRCK1',
 'PUHRCK12',
 'PUHRCK2',
 'PUHRCK3',
 'PUHRCK4',
 'PUHRCK5',
 'PUHRCK6',
 'PUHRCK7',
 'PUHROFF1',
 'PUHROFF2',
 'PUHROT1',
 'PUHROT2',
 'PUIO1MFG',
 'PUIO2MFG',
 'PUIOCK1',
 'PUIOCK2',
 'PUIOCK3',
 'PUIODP1',
 'PUIODP2',
 'PUIODP3',
 'PUJHCK1',
 'PUJHCK2',
 'PUJHCK3',
 'PUJHCK4',
 'PUJHCK5',
 'PUJHDP1O',
 'PULAY',
 'PULAY6M',
 'PULAYAVR',
 'PULAYCK1',
 'PULAYCK2',
 'PULAYCK3',
 'PULAYDT',
 'PULINENO',
 'PULK',
 'PULKAVR',
 'PULKDK1',
 'PULKDK2',
 'PULKDK3',
 'PULKDK4',
 'PULKDK5',
 'PULKDK6',
 'PULKM2',
 'PULKM3',
 'PULKM4',
 'PULKM5',
 'PULKM6',
 'PULKPS1',
 'PULKPS2',
 'PULKPS3',
 'PULKPS4',
 'PULKPS5',
 'PULKPS6',
 'PUNLFCK1',
 'PUNLFCK2',
 'PURETOT',
 'PUSLFPRX',
 'PUWK',
 'PWCMPWGT',
 'PWFMWGT',
 'PWLGWGT',
 'PWORWGT',
 'PWPRMWGT',
 'PWSSWGT',
 'PWVETWGT',
 'PXABSPDO',
 'PXABSRSN',
 'PXAFEVER',
 'PXAFNOW',
 'PXAFWHN1',
 'PXAGE',
 'PXCERT1',
 'PXCERT2',
 'PXCERT3',
 'PXCOHAB',
 'PXCYC',
 'PXDIPGED',
 'PXDISDRS',
 'PXDISEAR',
 'PXDISEYE',
 'PXDISOUT',
 'PXDISPHY',
 'PXDISREM',
 'PXDW4WK',
 'PXDWAVL',
 'PXDWAVR',
 'PXDWLKO',
 'PXDWLKWK',
 'PXDWRSN',
 'PXDWWK',
 'PXDWWNTO',
 'PXEDUCA',
 'PXERN',
 'PXERNCOV',
 'PXERNH1O',
 'PXERNH2',
 'PXERNHRO',
 'PXERNHRY',
 'PXERNLAB',
 'PXERNPER',
 'PXERNRT',
 'PXERNUOT',
 'PXERNWKP',
 'PXFNTVTY',
 'PXHGCOMP',
 'PXHRACT1',
 'PXHRACT2',
 'PXHRACTT',
 'PXHRAVL',
 'PXHRFTPT',
 'PXHRRSN1',
 'PXHRRSN2',
 'PXHRRSN3',
 'PXHRUSL1',
 'PXHRUSL2',
 'PXHRUSLT',
 'PXHRWANT',
 'PXHSPNON',
 'PXINUSYR',
 'PXIO1COW',
 'PXIO1ICD',
 'PXIO1OCD',
 'PXIO2COW',
 'PXIO2ICD',
 'PXIO2OCD',
 'PXJHRSN',
 'PXJHWANT',
 'PXJHWKO',
 'PXLAYAVL',
 'PXLAYDUR',
 'PXLAYFTO',
 'PXLAYLK',
 'PXLKAVL',
 'PXLKDUR',
 'PXLKFTO',
 'PXLKLL1O',
 'PXLKLL2O',
 'PXLKLWO',
 'PXLKM1',
 'PXMARITL',
 'PXMJNUM',
 'PXMJOT',
 'PXMLR',
 'PXMNTVTY',
 'PXNATVTY',
 'PXNLFACT',
 'PXNLFJH',
 'PXNLFRET',
 'PXNMEMP1',
 'PXNMEMP2',
 'PXPDEMP1',
 'PXPDEMP2',
 'PXRACE1',
 'PXRET1',
 'PXRRP',
 'PXSCHENR',
 'PXSCHFT',
 'PXSCHLVL',
 'PXSEX',
 'PXSPOUSE',
 'QSTNUM']

In [191]:
'PRDTIND1' in common_features, 'PEIO1COW' in common_features, 'PRNMCHLD' in common_features, 'PEHRUSL1' in common_features

(True, True, True, True)

In [192]:
'PTDTRACE' in common_features, 'HEFAMINC' in common_features

(True, True)

In [193]:
# 'HEDESKTP', 'HELAPTOP' --- not in f1
'HEMPHONE' in common_features, 'HEINWORK' in common_features, 'HEINSCHL' in common_features

(True, True, True)

In [194]:
'PETEXTIM' in common_features, 'PESOCIAL' in common_features

(True, True)

In [195]:
# 'HEDEVQUA' in f3

## work with df19 and df21 for now

In [196]:
HID  = 'HRHHID'
PNUMH = 'HRNUMHOU'

PTYPE = 'PRPERTYP'


EDU = 'PEEDUCA'
RACE = 'PTDTRACE'
SEX = 'PESEX'


MTYPE = 'PRFAMREL'  # member type in the household 
# 0 NOT A FAMILY MEMBER
# 1 REFERENCE PERSON
# 2 SPOUSE
# 3 CHILD
# 4 OTHER RELATIVE (PRIMARY FAMILY & UNREL)

EMPLOY = 'PEMLR'
# 1 EMPLOYED-AT WORK
# 2 EMPLOYED-ABSENT
# 3 UNEMPLOYED-ON LAYOFF
# 4 UNEMPLOYED-LOOKING
# 5 NOT IN LABOR FORCE-RETIRED
# 6 NOT IN LABOR FORCE-DISABLED
# 7 NOT IN LABOR FORCE-OTHER'


# the below are all yes-no questions 1-yes, 2-no
USE_DESKTOP = 'HEDESKTP'
USE_LAPTOP = 'HELAPTOP'
USE_PHONE = 'HEMPHONE'
USE_INTERNET_FOR_WORK = 'HEINWORK'
USE_INTERNET_SCHOOL = 'HEINSCHL'
USE_MESSAGING = 'PETEXTIM'
USE_SOCIAL = 'PESOCIAL'

In [197]:
TOTH21 = len(df21[HID].unique())
TOTH19 = len(df19[HID].unique())
TOTH21, TOTH19

(54184, 55107)

In [198]:
h21 = df21[HID].unique()
h21

array([610905110108708, 721914005500521, 201967201670009, ...,
        45086267507341, 501065001550995, 156485901801505])

In [199]:
df21[df21[HID] == h21[0]][USE_LAPTOP]

0    1
1    1
2    1
3    1
4   -1
Name: HELAPTOP, dtype: int64

In [200]:
# # loop over households

# laptop1 = []
# internet_work1 = []
# use_social1 = []


# for idx, household_id in enumerate(h21):
#     household_data = df21[df21[HID] == household_id]
#     household_data = household_data[household_data[PTYPE] == 2]  # filter adults only
#     if idx==24:
#         break

In [201]:
household_data[PTYPE]

47    2
48    2
Name: PRPERTYP, dtype: int64

In [202]:
household_data[USE_LAPTOP]

47    1
48    1
Name: HELAPTOP, dtype: int64

In [203]:
household_data[household_data[PTYPE] == 2]

,GEDIV,GEREG,GTCBSAST,GTCBSASZ,GTINDVPC,GTMETSTA,HEDESKTP,HEEVRHOM,HEFAMINC,HEHMINT1,...,PXPDEMP2,PXRACE1,PXRET1,PXRRP,PXSCHENR,PXSCHFT,PXSCHLVL,PXSEX,PXSPOUSE,QSTNUM
47,6,3,3,0,0,2,1,-1,14,1,...,-1,0,-1,0,-1,-1,-1,0,0,25
48,6,3,3,0,0,2,1,-1,14,1,...,-1,0,-1,0,-1,-1,-1,0,0,25

In [204]:
household_data[EMPLOY]

47    1
48    1
Name: PEMLR, dtype: int64

In [205]:
laptop21 = df21.groupby(HID)[USE_LAPTOP].agg(['max', 'count'])
laptop19 = df19.groupby(HID)[USE_LAPTOP].agg(['max', 'count'])

laptop21.shape, laptop19.shape

((54184, 2), (55107, 2))

In [206]:
df21.groupby(HID)[USE_DESKTOP].agg(['count'])

                 count
HRHHID
4795110719           1
8175510765           6
8177510065           4
8178510165           3
12817008622          3
...                ...
999240092351000      1
999373301460408      2
999529401230000      3
999743401280207      2
999897601690303      3

[54184 rows x 1 columns]

In [253]:
df21[df21[HID] == 8175510765][USE_LAPTOP]

116957    1
116958    1
116959    1
116960    1
116961    1
116962    1
Name: HELAPTOP, dtype: int64

In [207]:
# df21[df21[HID] == 8175510765][PNUMH]

In [221]:
df21.groupby(HID)[USE_LAPTOP].agg(['min', 'max'])

                 min  max
HRHHID
4795110719         2    2
8175510765         1    1
8177510065        -1    1
8178510165         1    2
12817008622        1    1
...              ...  ...
999240092351000    1    1
999373301460408    1    1
999529401230000   -1    1
999743401280207    2    2
999897601690303   -1    1

[54184 rows x 2 columns]

In [208]:
# fraction of households that use laptop
(laptop21['max'] == 1).sum() / laptop21.shape[0]

0.40236970323342686

In [209]:
# fraction of households that use laptop
(laptop19['max'] == 1).sum() / laptop19.shape[0]

0.4187671257734952

In [238]:
def cal_fraction(attribute):
    
    d21 = df21.groupby(HID)[attribute].agg(['min', 'max'])
    d19 = df19.groupby(HID)[attribute].agg(['min', 'max'])
    
    print(f"fraction of households {attribute} in 2019: {(d19['min'] == 1).sum() / d19.shape[0]}")
    print(f"fraction of households {attribute} in 2021: {(d21['min'] == 1).sum() / d21.shape[0]}")

In [239]:
cal_fraction(USE_LAPTOP)

fraction of households HELAPTOP in 2019: 0.37802819968425067
fraction of households HELAPTOP in 2021: 0.34425291598996016

In [240]:
cal_fraction(USE_PHONE)

fraction of households HEMPHONE in 2019: 0.4876875895984176
fraction of households HEMPHONE in 2021: 0.44258452679757865

In [241]:
cal_fraction(USE_INTERNET_FOR_WORK)

fraction of households HEINWORK in 2019: 0.2825956775001361
fraction of households HEINWORK in 2021: 0.23900044293518383

In [242]:
cal_fraction(USE_INTERNET_SCHOOL)

fraction of households HEINSCHL in 2019: 0.13290507558023482
fraction of households HEINSCHL in 2021: 0.11501550273143363

In [243]:
cal_fraction(USE_MESSAGING)

fraction of households PETEXTIM in 2019: 0.10452392617997713
fraction of households PETEXTIM in 2021: 0.10050937546139081

In [244]:
cal_fraction(USE_SOCIAL)

fraction of households PESOCIAL in 2019: 0.07911880523345491
fraction of households PESOCIAL in 2021: 0.07550199320832718

In [245]:
cal_fraction(USE_DESKTOP)

fraction of households HEDESKTP in 2019: 0.25846081260094
fraction of households HEDESKTP in 2021: 0.23303927358629853

In [171]:
d21 = df21.groupby(HID)[EMPLOY].agg(['min', 'max', 'count'])

In [172]:
d21

                 min  max  count
HRHHID
4795110719         5    5      1
8175510765        -1    7      6
8177510065        -1    7      4
8178510165         1    6      3
12817008622        5    7      3
...              ...  ...    ...
999240092351000    1    1      1
999373301460408    5    5      2
999529401230000   -1    1      3
999743401280207    1    5      2
999897601690303   -1    1      3

[54184 rows x 3 columns]